* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.w {
    height: 370px;
    width: 972px;
    margin: 40px auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.bgi {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.float_left {
    float: left;
}

/* ----------------------------------------------- */
h1 {
    height: auto;
    width: auto;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    margin: 70px auto 0 auto;
}

h5 {
    font-weight: 300;
    flood-color: #b0b2b4;
    text-align: center;
    font-size: 16px;
    margin-top: 12px;
}

/* -------------------侧边栏--------------------- */
.shell {
    visibility: hidden;
    background-color: #fff;
    width: 50px;
    height: 700px;
    border-radius: 8px;
    display: flex;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s;
}

.shell .box {
    position: relative;
    top: 0;
    left: 30px;
    height: 5%;
    width: 100px;
    margin: 5px;
    border-radius: 8px;
    transition: all 0.3s;
}

.shell .box i {
    position: absolute;
    display: block;
    left: 5%;
    top: 25%;
    width: 30px;
    height: 100%;
    margin-left: 3px;
    font-size: 20px;
}

.shell .box span {
    position: absolute;
    text-align: center;
    line-height: 35px;
    left: 50%;
    font-size: 12px;
}

.shell:hover {
    width: 120px;
}


.shell:hover .box {
    left: 0;
}

.shell .box:hover {
    background-color: #e8f1fd;
    color: #629fee;
}


/* -------------------上侧导航栏 ------------------*/
.nav {
    position: fixed;
    z-index: 5;
    top: 0;
    display: flex;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    background-color: #fff;

}

/* 菜单图标和标题 */
.left_ {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 100%;
}


/* 右侧一组图标 */
.right_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
}

.left_ .menu {
    font-size: 20px;
    margin: 0 2px;
}

.left_ input {
    visibility: hidden;
}

.left_ .menu:hover {
    transform: scale(1.2);
}

.left_ span:last-child {
    font-size: 16px;
    margin-left: 20px;
}

.right_ span {
    font-size: 14px;
}

.right_ span:last-child {
    padding: 5px 15px;
    margin-right: 10px;
    background-color: #397ff3;
    color: #ffffff;
    border-radius: 5px;
}

.right_ span:hover {
    padding-bottom: 7px;
    border-bottom: 3px solid #397ff3;
}

.right_ span:last-child:hover {
    padding-bottom: 5px;
    border-bottom: none;
    transform: scale(1.1);
}



/* ----------第一组图片----------------- */

.g1_pic {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 340px;
    width: 960px;
    margin: 40px auto;
}

.g1_pic div {
    position: relative;
    overflow: hidden;
    height: 340px;
    width: 225px;
    border-radius: 8px;

}

.g1_pic div img {
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.g1_pic div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    border-radius: 8px;

}

.g1_pic div:hover img {
    transform: scale(1.1);
}

.g1_pic div:hover::after {
    opacity: 0.6;
}

.ch1 {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -110px;
    z-index: 1;
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    height: auto;
    width: 220px;
    text-align: center;

}

.ch2 {
    position: absolute;
    z-index: 1;
    top: 47%;
    left: 50%;
    margin-left: -110px;
    display: block;
    font-size: 12px;
    font-weight: 300;
    height: auto;
    width: 220px;
    color: #ffffff;
    text-align: center;

}

.button2 {
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -50px;
    display: block;
    height: auto;
    width: 80px;
    border: 1.5px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 8px;
}


/* ----------栏目------------- */
.column {
    position: relative;
    background: url(image/05.jpg) no-repeat center/ cover;
    height: 180px;
    width: 1420px;
    margin: 10px auto 0 auto;
}

.column::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(20px);

}

.column .c1 {
    position: absolute;
    height: auto;
    width: auto;
    font-size: 30px;
    color: #ffffff;
    padding: 60px 0 0 30px;
}

.column .c2 {
    position: absolute;
    height: auto;
    width: auto;
    padding: 100px 0 0 30px;
    color: #ffffff;
}

.column .c3 {
    position: absolute;
    background-color: #1a73e8;
    color: #ffffff;
    height: 15px;
    width: 50px;
    padding: 5px;
    margin: 126px 0 0 30px;
    font-size: 12px;
    border-radius: 5px;
}


/* -----------圆形图片------------- */
.round {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 340px;
    width: 1420px;
    margin: 70px auto 0 auto;
    background: url(image_1/background1.png) center/ cover;

}

.title_games {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -150px;
    padding-bottom: 40px;
    height: auto;
    width: 300px;
    /* padding-top: 30px; */
    font-size: 45px;
    text-align: center;
    letter-spacing: 3px;
}

.round .g2_pic {
    position: relative;
    margin: 60px 50px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.8s;
}

.round .g2_pic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.round .r1 {
    outline: 10px solid #f3bbb8;
}

.round .r2 {
    outline: 10px solid #ffaa5e;

}

.round .r3 {
    outline: 10px solid #bdf5fb;
}


.round .g2_pic div {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #6d3c94;
    color: #ffffff;
    height: 17px;
    width: 34px;
    padding: 7px;
    border-radius: 20px;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
}

.round .g2_pic .play2 {
    background-color: #1a73e8;
}


.round .g2_pic:hover {
    transform: scale(1.1);
}


.button1 {
    margin: 2px auto;
    background-color: #1a73e8;
    color: #ffffff;
    height: 16px;
    width: 80px;
    text-align: center;
    padding: 7px;
    border-radius: 7%;
    line-height: 17px;
    font-size: 12px;
    /* left: 50%;
    margin-left: -40px;
    margin-top: 310px; */

}

#tit_3 {
    margin-top: 100px;
}

/* ------------------------------------------- */
.over1 {
    z-index: 4;
    transform: scale(1.3);
}

.over2 {
    z-index: 3;
    transform: scale(1.2);
}

.over3 {
    z-index: 2;
    transform: scale(1.1);
}

.over4 {
    z-index: 1;
    transform: scale(1.05);
}

.over5 {
    transform: scale(1);
}


.picks {
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 960px;
    margin: 40px auto;
    /* background-color: pink; */
}

.picks div {
    position: relative;
    height: 100%;
    width: 250px;
    border-radius: 8px;
    transition: all .8s;
}

.picks div::before {
    content: "";
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 8px;
    opacity: .2;

}

.picks div:hover::before {
    opacity: 0;
}

.picks div:nth-of-type(1) {
    background: url(image/09.jpg) no-repeat center/ cover
}

.picks div span:first-child {
    position: absolute;
    left: 5px;
    bottom: 14%;
    font-size: 10px;
    color: #fff;
}

.picks div span:last-child {
    position: absolute;
    left: 5px;
    bottom: 6%;
    font-size: 8px;
    color: #fff;
}

.picks div:nth-of-type(2) {
    background: url(image/10.jpg) no-repeat center/ cover;
}

.picks div:nth-of-type(3) {
    background: url(image/11.jpg) no-repeat center/ cover;

}

.picks div:nth-of-type(4) {
    background: url(image/12.jpg) no-repeat center/ cover;
}

.picks div:nth-of-type(5) {
    background: url(image/13.jpg) no-repeat center/ cover;
}



/* ------------------------------------------------- */
.bird_pic {
    position: relative;
    /* background-color: pink; */
    height: 600px;
    width: 960px;
    margin: 40px auto;
}

.bird_pic .bird {
    position: absolute;
    height: 560px;
    width: 960px;
    border-radius: 5px;
    margin-bottom: 0;
    overflow: hidden;
}

.bird_pic .bird img {
    height: 560px;
    width: 960px;
    border-radius: 5px;
    transition: all 0.8s;
}

.bird_pic .bird:hover img {
    transform: scale(1.1);
}

.bird_pic .bottom_words {
    position: absolute;
    top: 96%;
    font-size: 12px;
}

.bird_pic .bottom_button1 {
    position: absolute;
    height: auto;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 12px;
    padding: 6px;
    top: 100%;
    left: 50%;
    margin-left: -120px;
    margin-top: 30px;
    text-align: center;
}

.bird_pic .bottom_button2 {
    position: absolute;
    height: auto;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 12px;
    padding: 6px;
    top: 100%;
    left: 50%;
    margin-top: 30px;
    text-align: center;
}

.bird_pic .shareicon {
    position: absolute;
    font-size: 22px;
    top: 96%;
    right: 0;
}

.bird_pic a {
    color: black;
}

/* ------------------------------- */
#tit_5 {
    margin-top: 140px;
}

.g3_pic {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 340px;
    width: 960px;
    margin: 40px auto;
}

.g3_pic div {
    position: relative;
    overflow: hidden;
    height: 340px;
    width: 225px;
    border-radius: 8px;

}

.g3_pic div img {
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.g3_pic div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    border-radius: 8px;

}

.g3_pic div:hover img {
    transform: scale(1.1);
}

.g3_pic div:hover::after {
    opacity: 0.6;
}

/* -----------历史上的今天------------------- */
.history::before {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.history {
    position: relative;
    /* background-color: pink; */
    height: 330px;
    width: 1000px;
    margin: 0 auto;
    padding-left: 40px;
}

.history span:nth-child(2) {
    font-size: 12px;
    color: #80868b;
}

.history span:nth-child(3) {
    /* background-color: gray; */
    width: 300px;
    font-size: 26px;
    display: block;
    padding-top: 20px;

}

.history span:nth-child(4) {
    /* background-color: skyblue; */
    font-size: 10px;
    color: #80868b;
    display: block;
    width: 360px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-top: 25px;
}

.history a {
    display: block;
    font-size: 14px;
    color: #267ae9;
    height: auto;
    width: 60px;
    padding-top: 10px;
}

.history img:nth-of-type(1) {
    position: absolute;
    top: 10%;
    left: 45%;
    height: 270px;
    width: 170px;
}

.history img:nth-of-type(2) {
    position: absolute;
    top: 5%;
    left: 65%;
    height: 170x;
    width: 250px;
}

.history img:nth-of-type(3) {
    position: absolute;
    bottom: 5%;
    left: 65%;
    height: 100px;
    width: 120px;
}

.history img:nth-of-type(4) {
    position: absolute;
    bottom: 11%;
    right: 8%;
    height: 80px;
    width: 120px;
}

.history span:last-child {
    color: #80868b;
    display: block;
    position: absolute;
    z-index: 1;
    top: 8%;
    right: 12.5%;
}

/* ----------------------------------- */
.g4_pic {
    position: relative;
    height: 400px;
    width: 960px;
    margin: 40px auto;
}

.g4_pic div {
    transition: all 0.8s;
}

.g4_pic div:hover {
    transform: scale(1.1);
}

.g4_pic div:nth-of-type(1) {
    float: left;
    display: block;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    background: url(image/19.jpg) no-repeat center/ cover;
}

.g4_pic div:nth-of-type(2) {
    float: left;
    margin-left: 20px;
    display: block;
    height: 200px;
    width: 350px;
    border-radius: 5px;
    background: url(image/20.jpg) no-repeat center/ cover;
    background-position: center 80%;

}

.g4_pic div:nth-of-type(3) {
    float: left;
    margin-left: 20px;
    display: block;
    height: 200px;
    width: 220px;
    border-radius: 5px;
    background: url(image/21.jpg) no-repeat center/ cover;
    background-position: center 40%;
}

.g4_pic div:nth-of-type(4) {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    /* padding-right: 20px; */
    display: block;
    height: 180px;
    width: 200px;
    border-radius: 5px;
    background: url(image/22.jpg) no-repeat center/ cover;
    background-position: center;
}

#shorten {
    width: 160px;
}

.g4_pic div:nth-of-type(5) {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    height: 180px;
    width: 370px;
    border-radius: 5px;
    background: url(image/23.jpg) no-repeat center/ cover;
    background-position: center;
}

/* ---------- */
.bt_style {
    position: absolute;
    display: inline-block;
    padding: 2px 5px;
    background-color: #1a73e8;
    color: #ffffff;
    font-size: 10px;
    border-radius: 5px;
}

.ch_style {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
}

.botton_style {
    position: absolute;
    display: inline-block;
    font-size: 10px;
    color: #ffffff;
}

.g4_pic span:nth-of-type(1) {
    top: 83%;
    left: 1%;

}

.g4_pic span:nth-of-type(2) {
    top: 88%;
    left: 1%;
}

.g4_pic span:nth-of-type(3) {
    top: 92.5%;
    left: 1%;
}

.g4_pic span:nth-of-type(4) {
    top: 37%;
    left: 40%;
}

.g4_pic span:nth-of-type(5) {
    top: 42%;
    left: 40%;
}

.g4_pic span:nth-of-type(6) {
    top: 35%;
    left: 78%;
}

.g4_pic span:nth-of-type(7) {
    top: 40%;
    left: 78%;
}

.g4_pic span:nth-of-type(8) {
    top: 44.5%;
    left: 78%;
}

.g4_pic span:nth-of-type(9) {
    top: 80%;
    left: 40%;
}

.g4_pic span:nth-of-type(10) {
    top: 85%;
    left: 40%;
}

.g4_pic span:nth-of-type(11) {
    top: 93%;
    left: 40%;
}

.g4_pic span:nth-of-type(12) {
    top: 85%;
    left: 63%;
}

.g4_pic span:nth-of-type(13) {
    top: 90%;
    left: 63%;
}

.g4_pic span:nth-of-type(14) {
    top: 94.5%;
    left: 63%;
}


/* ---------------------------------------------- */
.adv {
    position: relative;
    background-color: #1a73e8;
    background-image: url(image/adv.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    margin: 40px auto;
    height: 100px;
    width: 960px;
    border-radius: 8px;
}

.adv div:nth-of-type(1) {
    position: absolute;
    width: 300px;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    top: 30%;
    left: 50%;
    margin-left: -120px;
}

.adv div:nth-of-type(2) {
    position: absolute;
    width: 300px;
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    top: 55%;
    left: 50%;
    margin-left: -120px;
}


/* ------------------------ */
.rcm {
    position: relative;
    height: 280px;
    width: 960px;
    margin: 40px auto;
}

.rcm div {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 960px;
}

.rcm div ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1680px;
    height: 100%;
    transition: all 1s;

}

.rcm div ul li {
    position: relative;
    overflow: hidden;
    list-style: none;
    height: 100%;
    width: 195px;
    background-color: skyblue;
    transition: all 1s;
}

.rcm div ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    visibility: hidden;
}

.rcm div ul li span {
    z-index: 1;
    position: absolute;
    visibility: hidden;
    transition: all 1s;
}

.rcm div ul li:hover span {
    visibility: visible;
}

.rcm div ul li:hover::after {
    visibility: visible;
}

.rcm div ul li span:nth-of-type(1) {
    right: 4%;
    top: 2%;
    color: #fff;
    font-size: 20px;
}

.rcm div ul li span:nth-of-type(2) {
    left: 4%;
    bottom: 13%;
    color: #fff;
    font-size: 14px;
}

.rcm div ul li span:nth-of-type(3) {
    left: 4%;
    bottom: 6%;
    color: #fff;
    font-size: 12px;
}

.rcm i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 80px;
    width: 80px;
}

.rcm i span {
    font-size: 45px;
    color: #b0b2b4;
}

.rcm i:nth-of-type(1) {
    left: -36px;
    top: 42%;
}

.rcm i:nth-of-type(2) {
    right: -36px;
    top: 42%;
}

.rcm div ul {
    left: -25%;
}


/* -------------------------- */
.onepic {
    position: relative;
    background-color: pink;
    height: 500px;
    width: 960px;
    margin: 40px auto 0 auto;
    border-radius: 8px;
    background: url(image/33.jpg) no-repeat center/ cover;
    background-position: center 30%;
}

.onepic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
}

.onepic span {
    position: absolute;
    z-index: 1;
    top: 1%;
    right: 1%;
    font-size: 22px;
    color: #fff;
}

.onepic div {
    position: absolute;
    z-index: 1;
}

.onepic div:nth-of-type(1) {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    padding-top: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
}

.onepic div:nth-of-type(2) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 300px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

#button3 a {
    display: block;
    width: 100px;
    margin: 10px auto 0 auto;
    color: #ffffff;
    border-radius: 5px;
    background-color: #1a73e8;
    padding: 8px;
    font-size: 10px;
    text-align: center;
}


/* ------------------------------------ */
.g5_pic {
    display: flex;
    justify-content: space-between;
    width: 960px;
    height: 152px;
    margin: 40px auto;
}

.g5_pic div {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: skyblue;
    width: 232px;
    height: 152px;
    border-radius: 8px;
}

.g5_pic div ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100px;
    width: 160px;
    border-radius: 5px;
    background-color: #fff;
}

.g5_pic div ul li {
    color: #55585b;
    list-style: none;
    font-size: 10px;
}

.g5_pic div ul .ctr {
    margin-top: 10px;

}

.g5_pic div ul li:nth-child(1) {
    text-align: center;
    height: 50px;
    width: 100%;
}

.g5_pic div:nth-of-type(1) {
    background: url(image/34.jpg) no-repeat center/ cover;
}

.g5_pic div:nth-of-type(2) {
    background: url(image/35.jpg) no-repeat center/ cover;
}

.g5_pic div:nth-of-type(3) {
    background: url(image/36.jpg) no-repeat center/ cover;
}

.g5_pic div:nth-of-type(4) {
    background: url(image/37.jpg) no-repeat center/ cover;
}

.button4 a {
    display: block;
    width: 100px;
    margin: 10px auto 0 auto;
    color: #ffffff;
    border-radius: 5px;
    background-color: #1a73e8;
    padding: 8px;
    font-size: 10px;
    text-align: center;
}



/* -----------------gallery--------------- */
.gallery {
    position: relative;
    height: 300px;
    width: 960px;
    margin: 40px auto;
    border-radius: 8px;
}

.gallery>div {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 960px;
    border-radius: 8px;
}

.gallery div ul {
    position: absolute;
    width: 2590px;
    height: 300px;
    transition: all 1s;
}

.gallery div ul li {
    list-style: none;
    position: relative;
    float: left;
    width: 315px;
    height: 300px;
    margin-right: 8px;
    border-radius: 8px;
}

.gallery div ul li div {
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 315px;
    border-radius: 8px;

}

.gallery div ul li div img {
    position: absolute;
    height: 304px;
    width: 316px;
    top: -10%;
    transition: all 1s;
}

.gallery div ul li div:hover img {
    transform: scale(1.1);
}

.gallery div ul li .icon-fenxiang {
    position: absolute;
    font-size: 20px;
    right: 1%;
    top: 69%;
}

.gallery div ul li .g_ch1 {
    position: absolute;
    font-size: 14px;
    top: 70%;
    left: 0;
}

.gallery div ul li .g_ch2 {
    position: absolute;
    font-size: 12px;
    color: #a6a6a2;
    top: 80%;
    left: 0;
}

.gallery i {
    /* background-color: skyblue; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 80px;
    width: 80px;
}

.gallery i span {
    font-size: 45px;
    color: #b0b2b4;
}

.gallery i:nth-of-type(1) {
    left: -36px;
    top: 21%;
}

.gallery i:nth-of-type(2) {
    right: -36px;
    top: 21%;
}



/* ------------------------------- */
.g6_pic {
    position: relative;
    width: 960px;
    height: 350px;
    border-radius: 5px;
    margin: 40px auto 0 auto;
}

.g6_pic span {
    overflow: hidden;
}

.g6_pic span img {
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.g6_pic span:hover img {
    transform: scale(1.1);
}

.g6_pic span:nth-of-type(1) {
    display: block;
    float: left;
    height: 350px;
    width: 370px;
    border-radius: 5px;
}

.g6_pic span:nth-of-type(2) {
    display: block;
    float: left;
    margin-left: 10px;
    height: 350px;
    width: 250px;
    border-radius: 5px;
}

.g6_pic span:nth-of-type(3) {
    display: block;
    float: left;
    margin-left: 10px;
    height: 170px;
    width: 320px;
    border-radius: 5px;
}

.g6_pic span:nth-of-type(4) {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 170px;
    width: 320px;
    border-radius: 5px;
}

.g6_pic .up_ch {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #fff;
}

.g6_pic .down_ch {
    display: inline-block;
    position: absolute;
    font-size: 9.5px;
    color: #fff;
}

.g6_pic span:nth-of-type(5) {
    bottom: 8%;
    left: 1%;
}

.g6_pic span:nth-of-type(6) {
    bottom: 3.5%;
    left: 1%;
}

.g6_pic span:nth-of-type(7) {
    bottom: 8%;
    left: 41%;
}

.g6_pic span:nth-of-type(8) {
    bottom: 3.5%;
    left: 41%;
}

.g6_pic span:nth-of-type(9) {
    bottom: 58%;
    left: 68%;
}

.g6_pic span:nth-of-type(10) {
    bottom: 53.5%;
    left: 68%;
}

.g6_pic span:nth-of-type(11) {
    bottom: 8%;
    left: 68%;
}

.g6_pic span:nth-of-type(12) {
    bottom: 3.5%;
    left: 68%;
}

/* -------------------- */
.sculpture {
    position: relative;
    background-image: url(image/50.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -600px;
    width: 960px;
    height: 250px;
    border-radius: 5px;
    margin: 40px auto 0 auto;
    overflow: hidden;
}

.sculpture::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    border-radius: 5px;
}

.sculpture div:nth-of-type(1) {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: #fff;
}

.sculpture div:nth-of-type(2) {
    position: absolute;
    z-index: 1;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
}

.sculpture div:nth-of-type(3) {
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 5px;

}

.sculpture a {
    color: #fff;
}

.country {
    height: 50px;
    width: 550px;
    /* background-color: pink; */
    margin: 40px auto 0 auto;
}

.country li {
    list-style: none;
    display: block;
    float: left;
    font-size: 12px;
    border: 1px solid rgb(59, 56, 56);
    padding: 8px;
    border-radius: 15px;
    margin-left: 10px;
}




/* ------------color ------------*/
.color {
    display: flex;
    margin: 40px auto 0 auto;
    width: 960px;
    height: 370px;
    /* background-color: pink; */
    border-radius: 8px;
    justify-content: space-between;
}

.color li {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    margin: 0 3px;
    flex: 1;
    border: 1px white;
    border-radius: 8px;
    transition: all 1s;
}

.color li:first-child {
    margin-left: 0;
}

.color li:last-child {
    margin-right: 0;
}

.color li:hover {
    flex: 3
}

.color li span {
    padding: 15px 10px;
    color: #ffffff;
    font-size: 16px;
    visibility: hidden;
}

.color li:hover span {
    visibility: visible;
}

.color li:nth-of-type(1) {
    background-image: url(image/32.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color li:nth-of-type(2) {
    background-image: url(image/31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color li:nth-of-type(3) {
    background-image: url(image/30.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color li:nth-of-type(4) {
    background-image: url(image/29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color li:nth-of-type(5) {
    background-image: url(image/28.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color li:nth-of-type(6) {
    background-image: url(image/27.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color li:nth-of-type(7) {
    background-image: url(image/26.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color li:nth-of-type(8) {
    background-image: url(image/25.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



/* ------------------------------------ */
.look {
    position: relative;
    width: 950px;
    height: 280px;
    /* background-color: pink; */
    margin: 40px auto 0 auto;
    border-radius: 8px;
}

.look div {
    position: relative;
    float: left;
    width: 230px;
    height: 280px;
    margin-left: 10px;
    border-radius: 8px;
    /* background-color: skyblue; */
}

.look div:nth-of-type(1) {
    margin-left: 0;
}

.look .pic51 span:nth-of-type(1) {
    display: block;
    width: 100%;
    height: 155px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-image: url(image/51.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.look .pic51 span:nth-of-type(2) {
    float: right;
    display: block;
    font-size: 22px;
}

.look .pic51 span:nth-of-type(3) {
    display: block;
    font-size: 14px;
    width: 210px;
    line-height: 20px;
    /* background-color: gray; */

}

.look .pic51 span:nth-of-type(4) {
    display: block;
    font-size: 10px;
    color: #b0b2b4;
    width: 230px;
    line-height: 10px;
    /* background-color: rgb(131, 89, 89); */
    margin-top: 10px;

}

.look .pic52 span:nth-of-type(1) {
    display: block;
    width: 100%;
    height: 155px;
    border-radius: 8px;
    background-image: url(image/52.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.look .pic52 span:nth-of-type(2) {
    float: right;
    display: block;
    font-size: 22px;
}

.look .pic52 span:nth-of-type(3) {
    display: block;
    font-size: 14px;
    width: 210px;
    line-height: 20px;
    /* background-color: gray; */

}

.look .pic52 span:nth-of-type(4) {
    display: block;
    font-size: 10px;
    color: #b0b2b4;
    width: 230px;
    line-height: 10px;
    /* background-color: rgb(131, 89, 89); */
    margin-top: 10px;

}

.look .pic53 span:nth-of-type(1) {
    display: block;
    width: 100%;
    height: 155px;
    border-radius: 8px;
    background-image: url(image/53.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -50px;
    margin-bottom: 20px;
}

.look .pic53 span:nth-of-type(2) {
    float: right;
    display: block;
    font-size: 22px;
}

.look .pic53 span:nth-of-type(3) {
    display: block;
    font-size: 14px;
    width: 210px;
    line-height: 20px;
    /* background-color: gray; */

}

.look .pic53 span:nth-of-type(4) {
    display: block;
    font-size: 10px;
    color: #b0b2b4;
    width: 230px;
    line-height: 10px;
    margin-top: 10px;

}

.look .pic54 span:nth-of-type(1) {
    display: block;
    width: 100%;
    height: 155px;
    border-radius: 8px;
    background-image: url(image/54.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -52px 0;
    margin-bottom: 20px;
}

.look .pic54 span:nth-of-type(2) {
    float: right;
    display: block;
    font-size: 22px;
}

.look .pic54 span:nth-of-type(3) {
    display: block;
    font-size: 14px;
    width: 210px;
    line-height: 20px;

}

.look .pic54 span:nth-of-type(4) {
    display: block;
    font-size: 10px;
    color: #b0b2b4;
    width: 230px;
    line-height: 10px;
    /* background-color: rgb(131, 89, 89); */
    margin-top: 10px;

}

.look div[class^="pic"] span:nth-of-type(1) {
    transition: all .8s;
}

.look div[class^="pic"] span:nth-of-type(1):hover {
    transform: scale(1.1);
}

/* -----------Listen---------------- */
.listen {
    display: flex;
    justify-content: space-between;
    height: 340px;
    width: 960px;
    margin: 40px auto;
    border-radius: 8px;
}

.listen div {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    transition: all 1s;
    flex: 1;
}

.listen div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
}

.listen div:hover {
    flex: 3;
    transform: perspective(500px) translateZ(80px);
}

.listen div:hover::after {
    /* visibility: hidden; */
    opacity: .1;
}

.listen div:hover .l_ch1,
.listen div:hover .l_ch2 {
    visibility: visible;
}

.listen div .l_ch1 {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    color: #fff;
    bottom: 12%;
    left: 2%;
}

.listen div .l_ch2 {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    color: #fff;
    bottom: 5%;
    left: 2%;
}



/* ------------------Beethoven Remixed------------ */
.BR {
    display: flex;
    justify-content: flex-start;
    position: relative;
    /* overflow: hidden; */
    height: 300px;
    width: 960px;
    margin: 40px auto;
    transition: all 0.8s;
    /* background-color: pink; */
}

.BR>div {
    width: 315px;
    height: 300px;
    margin-right: 10px;
    border-radius: 10px;
}

.BR div .t_pic {
    position: relative;
    height: 180px;
    width: 315px;
    border-radius: 8px;
    overflow: hidden;
}

.BR div .t_pic img {
    position: absolute;
    top: -60px;
    width: 100%;
    transition: all 0.8s;
}

.BR div .t_pic:hover img {
    transform: scale(1.1);
}

.BR div:nth-of-type(2) .t_pic img {
    top: -30px;
    width: 100%;
}

.BR div:nth-of-type(3) .t_pic img {
    top: 0;
    width: 100%;
    height: 100%;
}

.BR div .b_ch {
    position: relative;
    height: 120px;
    width: 315px;
}

.BR div .b_ch .icon-fenxiang {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 24px;
}

.BR div .b_ch .tit1 {
    position: absolute;
    top: 10%;
    font-size: 16px;

}

.BR div .b_ch .tit2 {
    position: absolute;
    top: 35%;
    font-size: 10px;
    color: #9ba0a4;
}

.BR>span {
    position: absolute;
    z-index: 1;
    font-size: 32px;
    color: skyblue;
    border-radius: 50%;
    background-color: #fff;
}

.BR>span:nth-of-type(1) {
    visibility: hidden;
    top: 25%;
    left: -15px;
}

.BR>span:nth-of-type(2) {
    top: 25%;
    right: -15px;
}


/* ---------------Learn------------------- */
.draw {
    height: 340px;
    width: 920px;
    margin: 40px auto;
    border-radius: 8px;
    overflow: hidden;
}

.draw>div:nth-child(1) {
    float: left;
    width: 320px;
    height: 340px;
    border-radius: 8px;
    margin-right: 15px;
    overflow: hidden;
}

.draw div .pic64 {
    height: 165px;
    width: 320px;
    margin-bottom: 10px;
}

.draw div .pic65 {
    height: 165px;
    width: 320px;
}

.draw div img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: all 1s;
}

.draw>div:nth-child(2) {
    float: left;
    width: 585px;
    height: 340px;
    border-radius: 8px;
    overflow: hidden;

}

.draw div[class^="pic"]:hover img {
    transform: scale(1.1);
}

.draw div[class^="pic"] {
    position: relative;
    overflow: hidden;
}

.draw div[class^="pic"]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent, transparent, black);
    opacity: 0.7;

}

.draw div .d_ch1 {
    position: absolute;
    z-index: 1;
    bottom: 27px;
    left: 13px;
    font-size: 16px;
    color: #fff;
}

.draw div .d_ch2 {
    position: absolute;
    z-index: 1;
    bottom: 8px;
    left: 13px;
    font-size: 12px;
    color: #fff;
}

















/* -----------------GAMES2------------------ */
.game2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 340px;
    width: 1420px;
    margin: 70px auto 0 auto;
    background: url(image_1/background1.png) center/ cover;

}

.game2 .five_r {
    position: absolute;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    border: 15px solid white;
    transition: all 0.8s;
}

.game2 .five_r:hover {
    transform: scale(1.1);
}

.game2 .five_r img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.game2 div:nth-of-type(2) {
    left: 12%;
    top: 32%;
}

.game2 div:nth-of-type(3) {
    left: 28%;
    top: 41%;
}

.game2 div:nth-of-type(4) {
    left: 50%;
    margin-left: -82.5px;
    top: 32%;
}

.game2 div:nth-of-type(5) {
    right: 28%;
    top: 41%;
}

.game2 div:nth-of-type(6) {
    right: 12%;
    top: 32%;
    border: 15px solid #eeffff;
}

/* ---------------Museum spotlight----------- */
.Ms {
    display: flex;
    justify-content: flex-start;
    width: 960px;
    height: 340px;
    margin: 90px auto;
}

.Ms div:first-child {
    position: relative;
    height: 340px;
    width: 620px;
}

.Ms .r_pic {
    overflow: hidden;
    height: 340px;
    width: 340px;
    border-radius: 50%;
}

.Ms .r_pic img {
    height: 350px;
    width: 400px;
    border-radius: 50%;
}

.Ms div .tit_Ms {
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 28px;
    height: auto;
    width: 255px;

}

.Ms div .chars {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 28%;
    height: 200px;
    width: 620px;
}

.Ms div .chars .logo1 {
    position: relative;
    height: 200px;
    width: 200px;
}

.Ms div .chars .logo1 img {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 100px;
}

.Ms div .chars ul {
    position: relative;
    height: 200px;
    width: 400px;
}

.Ms div .chars ul li {
    position: absolute;
    list-style: none;
}

.Ms div .chars ul li:first-child {
    top: 22%;
    font-size: 12px;
    height: 100px;
    width: 396px;
}

.Ms div .chars ul li:last-child {
    top: 55%;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    padding: 8px 10px;
    line-height: 12px;
    text-align: center;
    background-color: #1a73e8;
    height: 12px;
    width: 112px;
}

/* -------------------------------------- */
.songs {
    position: relative;
    height: 530px;
    width: 960px;
    margin: 40px auto;
    border-radius: 8px;
    background: url(image/73.jpg) no-repeat center -402px/ cover;
}

.songs::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: black;
    opacity: 0.3;
}

.songs .icon-fenxiang {
    position: absolute;
    z-index: 1;
    top: 1%;
    right: 1%;
    font-size: 20px;
    color: #fff;
}

.songs div:nth-child(2) {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    color: #fff;
}

.songs div:nth-child(3) {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #fff;
}

.btn {
    height: auto;
    width: 106px;
    margin: 30px auto;
    padding: 6px 8px;
    text-align: center;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 15px;
}

/* ---------------------------------- */

.explore {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 960px;
    border-radius: 8px;
    margin: 40px auto;
}

.explore>div {
    position: relative;
    overflow: hidden;
    background-color: pink;
    height: 100%;
    width: 184px;
    border-radius: 8px;
}


.explore img {
    position: absolute;
    left: -32px;
    height: 200px;
    width: 230px;
}


.explore div div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


.explore div span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}


.explore div div::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: black;
    opacity: 0.4;
}


.button5 {
    width: 100px;
    margin: 20px auto;
    padding: 8px;
    color: #fff;
    font-size: 12px;
    border-radius: 8px;
    text-align: center;
    background-color: #1a73e8;
}










/* ---------------------------------- */
.cln {
    position: relative;
    background: url(image/80.jpg) no-repeat 0 -90px/ cover;
    height: 250px;
    width: 960px;
    margin: 40px auto 0 auto;
    border-radius: 5px;
}

.cln::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    border-radius: 5px;
}

.cln span:nth-child(1) {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    width: 474px;
    text-align: center;
    color: #fff;
}

.cln span:nth-child(2) {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    width: 474px;
    text-align: center;
    color: #fff;
}

.cln span:nth-child(3) {
    position: absolute;
    z-index: 1;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    width: 162px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px;
}





/* --------------------------------------- */
.lastpic {
    /* overflow: hidden; */
    position: relative;
    width: 930px;
    height: 340px;
    margin: 40px auto;
    border-radius: 8px;
}

.lastpic div {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 8px;
}

.lastpic div ul {
    position: absolute;
    width: 1880px;
    height: 340px;
    transition: all 1s;
    border-radius: 8px;
}


.lastpic div ul li {
    list-style: none;
    overflow: hidden;
    position: relative;
    float: left;
    width: 225px;
    height: 340px;
    background-color: skyblue;
    margin-right: 10px;
    border-radius: 8px;
}

.lastpic ul li:hover img {
    transform: scale(1.1);
}

.lastpic ul li:hover::after {
    opacity: 0.6;
}

.lastpic ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
}

.lastpic ul li img {
    position: absolute;
    height: 356px;
    width: 544px;
    left: -68%;
    transition: all 1s;
    border-radius: 8px;
}

.lastpic ul li:nth-of-type(1) img {
    height: 356px;
    width: 445px;
    left: -48%;
}

.lastpic ul li:nth-of-type(2) img {
    height: 356px;
    width: 728px;
    left: -105%;
}

.lastpic ul li span {
    position: absolute;
    z-index: 1;
}

.lastpic i {
    /* visibility: hidden; */
    /* background-color: skyblue; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 80px;
    width: 80px;
}

.lastpic i span {
    /* position: absolute; */
    /* position: static; */
    /* z-index: 1; */
    font-size: 45px;
    color: #b0b2b4;
}

.lastpic i:nth-of-type(1) {
    left: -36px;
    top: 42%;
}

.lastpic i:nth-of-type(2) {
    right: -36px;
    top: 42%;
}